/* line 1, style.scss */
.timetable {
  height: 600px;
  width: 1000px; }
  /* line 4, style.scss */
  .timetable tbody {
    border: none; }
  /* line 7, style.scss */
  .timetable tr {
    border: none; }
  /* line 11, style.scss */
  .timetable td {
    border: 0px solid white; }
  /* line 15, style.scss */
  .timetable .time {
    height: 30px; }
  /* line 18, style.scss */
  .timetable .head {
    text-align: center;
    background: #5A5A5A;
    color: white; }
  /* line 23, style.scss */
  .timetable .even {
    background: #f2f2f2; }

/*# sourceMappingURL=style.css.map */

.td{
  position: absolute;
  background-color: red;
  width: 135px;
  height: 108px;
    text-align: center;
}
.hourhalf{
    margin-left: 270px;
    position: absolute;
    width: 225px;
    height: 108px;
}
.perios{
    text-align: center;
    position: absolute;
    width: 135px;
    height: 108px;
    background-color: aqua;
}


